*{
	/* reset */
	margin: 0%;
	padding: 0%;
}

body{
	/* tipografia */
	font-family: 'BIZ UDMincho', serif;
	font-family: 'Caveat', cursive;
	font-family: 'Patrick Hand', cursive;
	background-color: rgb(73, 9, 116);

	margin: 0;
	padding: 0;

	color: rgb(255, 255, 255);
}

.contenedor{
	padding: 150px 20px;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

#fondo{
	/* imagen de fondo */
	background-image: url(../img/Fondo.jpg);
	background-size:cover;
	background-repeat: repeat;
	background-attachment:fixed;

	color: aliceblue;

}

/* Nav */
nav{
	background-color:rgb(46, 6, 46) ;
	border:solid ;
	border-color: black;


	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0;
}





.nav_list li{
	/* estilo de listas */
	display: inline-block;
	

}

.nav_list li a{
	text-decoration: none;	
	font-weight:400;
	padding: 25px 25px;

	color: rgb(255, 255, 255);
    font-size: xx-large;

}

.nav_list li a:hover{
	color: rgb(14, 14, 119);

}

.nav_img{
	/* logo inicio*/
	width: 100px;
	height: 100px;

	border:solid 6px;
	border-radius: 4px;
	border-color: rgb(255, 255, 255);
}


/* header */
.header_title{
	/* titulo */
	text-align: center;
	font-weight: bolder;
    font-size: 150px;
    
}

.header_img{
	display:block;

	margin-left: auto;
	margin-right: auto;
	width: 100%;

}

.header_subtitle{
	text-align: left;
	font-size: xx-large;
}

.header_text{
	text-align: justify;
	font-size: x-large;
}


/* Main */


/* section Productos */
.Productos {
	display: flex;
	flex-flow: row nowrap;

	justify-content: space-around;
}

.Productos_title{
	text-align: center;
	font-weight: bold;
	font-size: 50px;
}

.Productos_text{
	text-align: center;
	font-size: x-large;
    margin: 25px;
}

.productos_img{
	display: inline-block;
	width: 250px;
	height: 220px;
	
}


/* section obout us */

.us {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;

}

.us_titleText{
	display: flex;
	flex-direction: column;

	padding-left: 20px;
}

.us_title{
	margin: 5px 0;
	font-size: 50px;

}

.us_text{
	font-size: x-large;
	text-align: justify;

}

.us_img{
	height: 250px;
}


/* section contact */
.contact{
	font-size: 50px;
}


/* footer entero */

#footer{
	display: flex;
	justify-content: space-between;
	background-color: rgb(62, 10, 123);
}

/* footer_logoMap */


.footer_logoMap{
	display: inline;

}

.footer_logo{
	display: inline;
	width: 110px;
	height: 110px;

}

.footer_map{
	display: inline;
	height: 50px;
	width: 50px;
}



/* footer Menu*/
.footer_menu{
	text-decoration: none;
	padding: 5px;
	font-size: small;
	
}


.footer_list{
	padding: 0;
	text-decoration: none;
	list-style-type: none;
}


.footer_list li a{
	color: rgb(255, 255, 255);
	padding: 0;
}



/* footer info */
.footer_infoItem a{
	display: block;
	margin: 5px 0px;
	color: rgb(0, 0, 0);
} 



/* footer redes */
.footer_redes a{
	display: block;
	color: rgb(255, 255, 255);
	padding: 0;
}











































/* .footer_img{
	display: inline-block;
	width: 120px;
	height: 120px;

	border: solid;
	border-radius: 4px;
} */	





/* productos header */


.contenedor_prod{
	
	
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}




.prod_header_title{
	font-size: 80px;
	text-align: center;


}




.prod_header_img{
	height: 400px;
    width: 1000px;

	
	
}

.productos{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	padding: 20px;

}

.productos div {
	display: block;
	padding: 20px;
}




/* formulario */

.form{
	width: 340px;
    height: 400px;
    background: #e6e6e6;
    border-radius: 32px;
    box-shadow: 0 0 40px -10px #000;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
	margin-left:auto; 
	margin-right:auto;
}
	
.form-title{
	margin:10px 0;
	padding-bottom:10px;
	width:180px;
	color:#78788c;
	border-bottom:3px solid #78788c
}

input{
	width:100%;
	padding:10px;
	box-sizing:border-box;
	background:none;
	outline:none;
	resize:none;
	border:0;
	font-family:'Montserrat',sans-serif;
	transition:all .3s;
	border-bottom:2px solid #bebed2
}


input:focus{
	border-bottom:2px solid #78788c
}
p:before{
	content:attr(type);
	display:block;
	margin:28px 0 0;
	font-size:14px;
	color:#5a5a5a
}

button{
	float:right;
	padding:8px 12px;
	margin:8px 0 0;
	font-family:'Montserrat',sans-serif;
	border:2px solid #78788c;
	background:0;
	color:#5a5a6e;
	cursor:pointer;
	transition:all .3s
}

button:hover{
	background:#78788c;
	color:#fff

}

span{
	margin:0 5px 0 15px
}


.contenedor-us{
	padding: 150px 20px;
	width: 90%;
	margin: auto;
	overflow: hidden;

	display: flex;
	justify-content: space-around;

}

.contenedor-us img{
	width: 1000px;
	height: 720px;


}



.help{
	display: flex;
	justify-content: center;
	font-size: 50px;
}

.help-text{
	display: flex;
	justify-content: center;
	font-size: x-large;
	padding-bottom:200px;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}